.natural-area{
    background-image: url(http://st.ourhtmldemo.com/new/Healthcoach-Preview/images/resources/slogan-bg.jpg);
    color: #fff;
    padding: 70px 0;
}
.natural-area h1{
    color: #fff;
}
.natural-area-btn{
    width: 250px;
    padding-top: 8px;
}