.services-bg-img{
    background-image: url(http://st.ourhtmldemo.com/new/Healthcoach-Preview/images/resources/breadcrumb-bg.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 130px;
    padding-bottom: 120px;
}
.services-bg-img h1{
    color: #ffffff;
    font-size: 48px;
    font-weight: 700;
    line-height: 50px;
    text-transform: capitalize;
    text-align: center;

}